flask==3.0.3
flask-cors==4.0.1
flask-socketio==5.3.6
flask-bcrypt==1.0.1
flask-jwt-extended==4.6.0
pymongo==4.7.2
scikit-learn==1.5.0
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
reportlab==4.2.2
eventlet==0.36.1
pyotp==2.9.0
python-dateutil==2.9.0.post0
Pillow==10.3.0
